*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 13px;
}

body {
  background: url(/assets/background.png);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 80px 10%;
  transition: padding .5s;

  @media (max-width: 1023px) {
    padding: 0;
  }
}

main {
  background-color: white;
  margin: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* all */
::-webkit-input-placeholder { color: #b3b3b3; }
::-moz-placeholder { color: #b3b3b3; }
:-ms-input-placeholder { color: #b3b3b3; }
input:-moz-placeholder { color: #b3b3b3; }