.button-filters {
  margin-top: 10px;

  @media (min-width: 768px) {
    display: none;
  }
}

.filters {
  font-size: 15px;
  padding: 35px 28px 20px;
  width: 25%;

  @media (max-width: 1023px) {
    width: 33%;
  }

  @media (max-width: 767px) {
    display: none;
    width: 100%;
  }
}

.filter-button {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  padding: 3px 18px 3px 12px;
  text-align: left;
  width: 100%;

  &:nth-child(n+4) {
    display: none;
  }

  &:hover, &.active {
    background-color: #2897c5;
    color: white;

    .filter-count {
      color: white;
    }
  }

  input {
    opacity: 0;
    position: absolute;
  }
}

.filter-count {
  color: #9a9a9a;
  float: right;
}

.filter-showall {
  display: none;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;

  .filter-button:nth-child(n+4) ~ & {
    display: block;
  }
}