.detail {
  color: #a9a9a9;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: $light;
}

@media (min-width: 768px) {
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.display-none {
  display: none;
}

.bold {
  font-weight: $semibold;
  font-size: 1.25em;
}

// From Bootstrap 4 (MIT - https://github.com/twbs/bootstrap/blob/master/LICENSE)
// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
// See: https://hugogiraudel.com/2016/10/13/css-hide-and-seek/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}