.search-results-list {
  font-size: 16px;
}

.restaurant-result {
  margin-bottom: 22px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.restaurant-photo {
  border-radius: 5px;
  margin-right: 25px;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.restaurant-name {
  color: black;
  font-size: 18px;
  font-weight: $semibold;
  margin: 0 0 8px;
}

.restaurant-details {
  margin-top: 1rem;
}