.search-form {
  background-color: #1c688e;
  padding: 26px 30px;
  text-align: center;
  width: 100%;
}

.search-input {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font-size: 16px;
  font-weight: $light;
  height: 48px;
  letter-spacing: .02em;
  padding: 0 14px;
  width: 100%;
}

.search-results {
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 1px 6px #c3c3c3;
  padding-top: 2px;
}

.search-results-main {
  border-left: 1px solid $color-border;
  padding: 35px 28px 18px 40px;
  width: 75%;

  @media (max-width: 1023px) {
    width: 67%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.results-summary {
  border-bottom: 1px solid $color-border;
  color: #333;
  font-weight: $light;
  margin-bottom: 30px;
}
  .results-summary-wrap {
    position: relative;

    &:after {
      content: '';
      background-color: white;
      bottom: -8px;
      left: 0;
      position: absolute;
      right: -24px;
      top: 100%;
    }
  }

.button-more {
  border: 1px solid $color-border;
  color: #7f7f7f;
  cursor: pointer;
  height: 44px;
  font-size: 15px;
  width: 220px;

  &:hover {
    background-color: $color-border;
  }
}