.rating {
  color: #ffab66;
  font-size: 16px;
  line-height: 1.19;
}

.rating-stars {
  background: url(/assets/stars-icons.png) top left / 100%;
  display: inline-block;
  height: 18px;
  margin: 0 1em 0 1ex;
  position: relative;
  vertical-align: bottom;
  width: 99px;

  .filter-button & {
    margin: 0;
  }
}

.rating-stars-inner {
  background: url(/assets/stars-icons.png) bottom left / 99px;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}